extends layout.jade

block content
    h1=title
    script(src="javascripts/bbp2.js")
    script.
        alert("you are about to contribute to Disco.js")
        document.write("the digit is ="+GenerateDigit(10));


        

